{#{% extends "base.html" %}#}
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
{% endblock %}

{% block content %}

<div class="task_content categories" >    
    <div class="">
        <div class="content">
            <div class="welcome">
                <button id="openbutton" class="openbtn" >&#9776;</button>
                <span class="welcome-text">Just Do It!</span>
            </div>

    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">TODO List Demo App</h1>
      <p><mark>Do it now.</mark></p>
    </main>


            <!-- Button trigger modal -->

            <div style="text-align: center;">
            <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Task">Add Task</button>
            </div>

            <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label">Add a task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" id="task-form-display">
{#                    <hr>{{ wtf.quick_form(form) }}#}
                    <form id="task-form" class="form form-horizontal" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}

                        <div class="task-title">{{ wtf.form_field(form.title) }}</div>
                        <div class="task-date">{{ wtf.form_field(form.date) }}</div>
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>

            </div>
            </div>
            </div>
            </div>

            <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Label">Add a task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" id="task-form-display">
                    <form id="task-form" class="form form-horizontal" action="" method="post" role="form">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_errors(form, hiddens="only") }}
                        <div>{{ wtf.form_field(form.id) }}</div>
                        <div class="task-title">{{ wtf.form_field(form.title) }}</div>
                        <div class="task-date">{{ wtf.form_field(form.date) }}</div>
                        {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
                    </form>
                </div>
                </div>
            </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th class="task-id">#</th>
                    <th class="task">Task Name</th>
                    <th class="date">DDL</th>
                    <th class="status">Status</th>
                    <th class="update">Edit</th>
                    <th class="update">Remove</th>
                </tr>
                </thead>

                <tbody id="task-show">
                {% for item in items %}
                    <tr>
                        <td class="item-id">{{item.id}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.date}}</td>

                        {% if item.status == "In Progress" %}
                            <td><button type="button" class="btn btn-outline-warning btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                        {%endif%}
                        {% if item.status == "To Do" %}
                            <td><button type="button" class="btn btn-outline-secondary btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                        {%endif%}
                        {% if item.status == "Complete" %}
                            <td><button type="button" class="btn btn-outline-success btn-sm state" data-source="{{item.id}}">{{item.status}}</button></td>
                        {%endif%}

                        <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#edit-modal" data-source="{{item.id}}" data-content="{{item.title}}" data-date="{{ item.date }}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>

                        <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{item.id}}" type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div><!-- end content -->

    </div><!-- container -->
</div>
{% endblock %}


{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>
    {{super()}}
{% endblock %}